<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Simple Chat App</title>
  </head>
  <body>
    <header>
      <h1>Super Chat</h1>
    </header>

    <section>
      <form id="change_username">
        <input id="username" type="text" />
        <button id="send_username">Choose username</button>
      </form>
    </section>

    <section id="chat"></section>

    <form id="create_message"> 
      <input id="message" class="vertical-align" type="text" />
      <button id="send_message" class="vertical-align">Send</button>
    </form>
    <script type="module" src="chat.bundle.js"></script>
  </body>
</html>